node_modules
typings
public/three.js-master
public/Classes/*.js
public/Components/*.js
public/Services/*.js
public/Classes/*.js.map
public/Components/*.js.map
public/Services/*.js.map
public/*.js
public/*.js.map

dist
.tmp
.sass-cache
bower_components
.vscode
HEC-RAS-Geometry-file-parser/uploads