<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>
<div class="noselect" style="background-color:#eee;min-height:100%;min-width:100%;">
    <div class="dropdown" style="margin-bottom:10px; width: 100%; background-color: #eee">
    <button id="dLabel" type="button" style="outline: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        FILE
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li style="cursor: pointer" data-toggle="modal" data-target="#myModal"><a><span>Open</span></a></li>
    </ul>
    </div>
    
    <div id="viewport" >
        <div id="controls">
            <div style="display:inline-block">
                <button #ZoomAllButton id="zoomall" (click)="ZoomAllButtonOnClick($event.currentTarget)" type="button" class="btn btn-default btn-xs controlButton">
                    <i class="uk-icon-arrows-alt"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #ZoomInButton (click)="ZoomInButtonOnClick($event.currentTarget)" type="button"  class="btn btn-default btn-xs controlButton">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #ZoomOutButton (click)="ZoomOutButtonOnClick($event.currentTarget)" type="button" class="btn btn-default btn-xs controlButton">
                    <i class="glyphicon glyphicon-zoom-out"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #RotateButton (click)="RotateButtonOnClick($event.currentTarget)" type = "button" class="btn btn-default btn-xs controlButton">
                    <i class="glyphicon glyphicon-repeat"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #MoveButton (click)="MoveButtonOnClick($event.currentTarget)" type="button" class="btn btn-default btn-xs controlButton">
                    <i class="uk-icon-arrows"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #LabelButton (click)="LabelButtonOnClick($event.currentTarget)" type="button" class="btn btn-default btn-xs controlButton">
                    <i class="glyphicon glyphicon-font"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #AxesHelperButton (click)="AxesHelperButtonOnClick($event.currentTarget)" type = "button" class="btn btn-default btn-xs controlButton">
                    <i class="uk-icon-compass"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #MeshButton (click)="MeshButtonOnClick($event.currentTarget)" type="button" class="btn btn-default btn-xs controlButton">
                    <i class="uk-icon-cube"></i>
                </button>
            </div>
            <div style="display:inline-block">
                <button #LinesButton (click)="LinesButtonOnClick($event.currentTarget)" type = "button" class="btn btn-default btn-xs controlButton">
                    <i class="uk-icon-area-chart"></i>
                </button>
            </div>
        </div>
        <div id="canvas"></div>
    </div>
    <div style="width:310px; float:right;">
        <div class="col-xs-11 panel panel-default">
            <h2>Options</h2>
            <h6 role="button" class="panel-heading" data-toggle="collapse" href="#collapse1"><span><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List of reaches</span></h6>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table-sm table-striped table-responsive table-hover">
                    <thead>
                        <tr>
                            <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">Reach name</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  data-toggle="tooltip" title="{{ reach.Name }}" role="button" (click)="ResetCameraAndControls();DisplayReach(reach);"  *ngFor="let reach of reachCollection.Reaches">
                            <td>{{ reach.Name }}</td>
                            <td [style.backgroundColor] = "reach.Color"></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <h6 role="button" class="panel-heading" data-toggle="collapse" href="#collapse2"><span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Other</span></h6>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <h7>Scale Vector</h7>
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-xs-4">
                                    <label for="inputX" class="col-md-1 control-label">X: </label>
                                    <input id="inputX"  style="width:50px" type="number" (ngModelChange)="ChangeView();" [(ngModel)]="crossScaleX" />
                                </div>
                                <div class="col-xs-4">
                                    <label for="inputY" class="col-md-1 control-label">Y: </label>
                                    <input id="inputY"  style="width:50px" type="number" (ngModelChange)="ChangeView();" [(ngModel)]="crossScaleY" />
                                </div>
                                <div class="col-xs-4">
                                    <label for="inputZ" class="col-md-1 control-label">Z: </label>
                                    <input id="inputZ" style="width:50px" type="number" (ngModelChange)="ChangeView();" [(ngModel)]="crossScaleZ" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Open Files..</h4>
      </div>
      <div class="modal-body">
       <uploader [IdeApp]="IdeApp"></uploader>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-xs btn-default " (click)="CloseModal();" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-xs btn-primary" (click)="CloseModal();Init();" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>